/*font*/
@import url('https://fonts.googleapis.com/css2?family=Allura&family=Kaushan+Script&family=Titillium+Web:wght@400;600&display=swap');

/*
font-family: 'Allura', cursive;
font-family: 'Kaushan Script', cursive;
font-family: 'Titillium Web', sans-serif; 
*/

.app{
    border: 5px white solid;
    width: 50vh;
    height: 50vh;
    border-radius: 20px 0 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.app-header{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: turquoise; */
}
.app-main{
    height: 35vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: tomato; */
}

h1{
    font-family: 'Titillium Web', sans-serif; 
    text-transform: uppercase;
    margin-bottom: -10px;
}
#second-word{
    font-family: 'Allura', cursive;
    text-transform: initial;
}

h3{
    font-family: 'Kaushan Script', cursive;
}
#output-container{
    background-color: rgba(221, 201, 201, 0.2);
    align-self: center;
    width: 20vw;
    height: 20vh;
    overflow-y: auto;
    overflow-x: hidden;
    border-radius: 0 20px 0 20px;
    /* //text-overflow: ellipsis; */
    /* word-break: break-all;
     */
    
}
#output{
    text-align: start;
    font-size: 1.4em;
    padding: 0 8px 1em 8px;
    max-width: 100%;
    word-break: break-all;
    font-family: 'Titillium Web', sans-serif; 
}