*{
  margin: 0;
  border:0;
  box-sizing: border-box;
}

body{
  background-color: rgb(39, 39, 39);
  height: 100vh;
  overflow: hidden;
  color:snow;
  display:flex;
  align-items: center;
  justify-content: center;
}